html[data-theme='dark'] {
	--text-title: #fff;
	--text-small: rgb(134, 134, 134);
	--bg: #000000;
	--text-desc: #fff;
	--button-text: #000; 
	--gradient: linear-gradient(180deg, rgba(17,87,160,0.35) 0%, rgba(17,87,160,0) 100%);
	--gradient-two: linear-gradient(180deg, #1157A0 0%, rgba(17,87,160,0) 100%);
	--contact-text:#6CACE4;
}
html[data-theme='light'] {
	--text-title: #000;
	--text-small: rgb(134, 134, 134);
	--text-desc: #323232;
	--bg: #fff;
	--button-text: #fff;
	--gradient: linear-gradient(180deg, rgba(183,222,255,0.25) 0%, rgba(183,222,255,0) 100%);;
	--gradient-two: linear-gradient(180deg, rgba(183,222,255,0.98) 0%, rgba(183,222,255,0) 100%);
	--contact-text:#1157A0;
}